<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Love Message</title>
</head>
<body>
  <div class="center-container">
    <img src="https://image.spreadshirtmedia.net/image-server/v1/products/T1459A839PA4459PT28D15950894W10000H9059/views/1,width=550,height=550,appearanceId=839,backgroundColor=F2F2F2/i-love-you-sticker.jpg"/>
  </div>
  <div class="center-container">
    <h1><span th:text="${loveName}"></span>! I Love you!</h1>
  </div>
</body>
<style>
  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
</html>